.chart-container{
    margin-top: 40px;
    display: flex;
    width: 100%
}

.chart-summary{
    position: relative;
    height: 329px;
    width: 70%;

    background: #FFFFFF;
    border: 1px solid #EEF8FD;
    box-sizing: border-box;
    border-radius: 2px;
}

.order-payment-summary{
    width: 30%;
    height: auto;
}
.summary{
    /* width: 30%; */
    height: 50%;
    background: #FFFFFF;
    border: 1.5px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary>div{
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 16px;
    
    color: #262626;
}

.summary>div:first-child{
    font-weight: bold;
}

.summary-details{

}

.bar-container{
    width: 90%;
    height: 4px;
    background-color: #FDC203;
}
.bar{
    width: 80%;
    height: 4px;
    background-color: #27AE60;
}